# Description
This notebook analyzes and visualizes precipitation data.

In [2]:
# The code was removed by Watson Studio for sharing.

,Year,Month,Date,CRU3 NH,CRU3 SH,CRU3 GL,CRU3V NH,CRU3V SH,CRU3V GL,HadCRU3 NH,...,UAH GL,NCDCland NH,NCDCland SH,NCDCland GL0,NCDCocean NH,NCDCocean SH,NCDCocean GL,NCDCland_ocean NH,NCDCland_ocean SH,NCDCland_ocean GL
0,1850,1,1850.042,-2.98,-1.26,-2.12,-2.86,-1.16,-2.01,-1.04,...,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9
1,1850,2,1850.125,0.30,-1.56,-0.63,0.23,-1.42,-0.59,-0.40,...,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9
2,1850,3,1850.208,-1.99,0.44,-0.77,-1.90,0.28,-0.81,-1.07,...,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9
3,1850,4,1850.292,-1.43,-0.86,-1.14,-1.38,-0.84,-1.11,-0.82,...,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9
4,1850,5,1850.375,-1.37,-0.46,-0.92,-1.31,-0.50,-0.91,-0.72,...,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9,-999.9